@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiteratorVolgograd</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/quilljs/dist/css/quill.snow.css" asp-append-version="true">
    
    @if (!SignInManager.IsSignedIn(User))
    {
        <style>
            .editor-only {
                display: none
            }
        </style>     
    }
</head>
<body>
    <img style="width: 100%; display: block;" src="~/images/fieldunderthesun.png" asp-append-version="true">

    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Literator</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarColor03" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">ГЛАВНОЕ</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">О СОЮЗЕ</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="News" asp-action="Index">НОВОСТИ</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Authors" asp-action="Index">АВТОРЫ</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">ПРОЕКТЫ</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Publications" asp-action="Index">ПУБЛИКАЦИИ</a></li>
            </ul>
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="btn">@UserManager.GetUserName(User) (выйти)</button>
            </form>
        }
        else
        {
            <form asp-controller="Account" asp-action="Login" method="get" id="loginForm">
                <textarea class="form-control" type="text" name="returnUrl" style="display:none">/Home/Index</textarea>
                <button type="submit" class="btn">Войти</button>
            </form>
        }
    </nav>

    <div class="container body-content">
        <br />
        <h2>@ViewData["Title"]</h2>
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - LiteratorVolgograd</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/quilljs/dist/js/quill.js"></script>
    <script src="~/lib/quilljs/dist/js/quill.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
