@model LiteratorVolgograd.Models.Author

<form method="get" asp-action="ManageAuthor" asp-controller="Authors">
    <input type="submit" value="Редактировать" class="editor-only btn btn-primary float-right" />

    <h4>@(Model.LastName) @(Model.FirstName) @(Model.MiddleName)</h4>
    (@(Model.DateOfBirth.ToShortDateString()))

    <textarea class="form-control" type="text" name="id" style="display:none">@(Model.Id)</textarea>

    <div class=ql-editor>
        @Html.Raw(Model.About)
    </div>
    <br />
</form>
